select.select-width{
    width: -webkit-fill-available;
    width:-moz-available;
    padding: 8px 5px;
    margin-bottom: 30px;
}
.heading{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #585858;
    margin-bottom: 6px;
}
.submit-btn{
    color: #FFF;
    padding: 10px 27px;
    font-size: 15px;
    text-transform: capitalize;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background-color: #08a8fc;
}
.welcome-job{
    padding-top: 10%;
}
.welcome-job .subpara{
    width:60%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #585858;
}

.fa-caret-right, .fa-caret-down{
   color: #6682ad;
}
.fa-caret-down{
    font-size: 15px;
}
.search-data-content{
    padding: 30px 30px 0;
}
.search-content{
    padding: 50px 30px 0;
}
.breadcrumb-list a {
    font-size: 12px;
}
.process-section:after
{
    content:'';
    position:absolute;
    top:0;
    right:30px;
    width:1px;
    height:92%;
    background:#d4d4d4;
}
.common-input{
    border: 1px solid #e4e4e4;
    box-shadow:none;
    color:#8d8d8d;
}
.common-label{
    color:#8d8d8d;
    margin-top: 15px;
}
.ui-datepicker-trigger{
    top:48px;
}
.btn-ver{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #ffffff;
    border: solid 1px #08a8fc;
}
.nextstep-btn{
    color: #FFF;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 0;
    cursor: pointer;
    background-color: #08a8fc;
    border: solid 1px #08a8fc;
}
.verified a:hover{
    color:#23aaea;
}
.patient-label{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #8d8d8d;
    margin-left: 15px;
}
.btn-toggle {
    top: 50%;
    transform: translateY(-50%);
}
.btn-toggle {
    margin: 12px 10px 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
    outline: none;
    box-shadow: none;
}
.btn-toggle:before,
.btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}
.btn-toggle.active {
    background-color: #59c203;
}
.btn-toggle.btn-xs > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.btn-xs.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
    opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
    opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
    line-height: 0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
}
.btn-toggle.btn-xs.btn-xs:before {
    text-align: right;
}
.btn-toggle.btn-xs.btn-xs:after {
    text-align: left;
    opacity: 0;
}
.btn-toggle.btn-xs.btn-xs.active:before {
    opacity: 0;
}
.btn-toggle.btn-xs.btn-xs.active:after {
    opacity: 1;
}
.padding-10{
    padding: 10px;
}
.insurance_div{
    margin: 0 5px;
    padding:15px 0;
    background-image: linear-gradient(to left, #2e587c, #202c45);
}
.insurance_div .profile-img img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.insurance_div h5.name-tag{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.insurance_div h6{
    font-family: 'montserratlight';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #b1b1b1;
    margin-top: 25px;
    margin-bottom: 0;
}

.insurance_div p{
    font-family: 'montserratlight';
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ffffff;
}
.vertical_line{
    width: 2px;
    opacity: 0.35;
    border: solid 1px #979797;
}
.text-blue{
    color:#14a4fa;
}
.text-red{
    color: #f62c17;
}
.left-section{
    background-color: #f2f3f7;
    padding:10px;
    height: 715px;
}
.tab-data{
    background-color:  #f2f3f7;
    padding:10px;
    height: 645px;
}
.tabs ul.tabs-nav li.tab-active{
    background-color: #14a4fa;
    color:#fff;
}

.tabs ul.tabs-nav{
    margin-top:0;
    list-style: none;
    background-color:  #3b4f65;
}
.tabs ul.tabs-nav li{
    background-color: #3b4f65;
    display: inline-block;
    padding: 18px 15px;
    cursor: pointer;
    font-size: 13px;
    border-right: 1px solid gray;
    font-family: montserratregular;
}
.tabs ul.tabs-nav li a{
    color:#fff;
}
.tab-caret{
    display: initial;
}
.tab-caret i{
    color: #14a4fa;
    font-size: 20px;
    margin: 14px;
}

.tab-heading{
    font-family: 'montserratregular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: normal;
    color: #484a4b;
}
.tab-data h6{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #484a4b;
}
.tab-data p{
    font-family: 'montserratregular';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    margin-bottom: 30px;
    color: #808080;
}
.btn-print{
    padding: 10px 20px;
    font-size: 15px;
    background-color: initial;
    border: solid 1px #08a8fc;
    color:#08a8fc;
}

.inside-ul{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #808080;
    padding-bottom: 45%;
}

@media screen and (max-width: 1199px) and (min-width: 992px){
    .left-section{
        height: 777px;
    }
    .tab-data{
        height: 705px;
    }
    .tabs ul.tabs-nav li {
        padding: 22px 12px;
        cursor: pointer;
        font-size: 9px;
    }
}
@media screen and (max-width: 991px) and (min-width:768px){
    .left-section{
        height: 865px;
    }
    .tab-data{
        height: 740px;
    }
    .inside-ul{
        padding-bottom: 116%;
    }
    .tabs ul.tabs-nav li {
        padding: 18px 25px;
        font-size: 12px;
        border-right: none;
    }
    .pn_num{
       padding-left:135px;
    }
}
@media screen and (max-width: 425px){
    .margin-top-xs-35 {
        margin-top: 35px;
    }
    .left-section{
        height: 85%;
    }
    .tabs ul.tabs-nav li{
        font-size: 10px;
        border-right: none;
    }
    .tab-data{
        height: 900px;
    }
    .inside-ul{
        padding-bottom: 175%;
    }
    .nextstep-btn{
        margin-top: 20px;
    }
    .insurance_div h5.name-tag{
        margin-top: 10px;
    }
}
@media screen and (width: 320px){
    .tab-data {
        height: 995px;
    }
    .inside-ul {
        padding-bottom: 283%;
    }
    .tabs ul.tabs-nav {
        text-align: center;
    }
}