button:hover
{
	cursor:pointer;
}
.search-box-input
{
	width:250px;
}
.btn-search-main
{
	position:absolute;
	top: 10px;
	right: 10px;
	border:0;
	background:transparent;
	color:#2f3e5b;
}
.border-radius-0
{
	border-radius:0 !important;
	border-left:0 !important;
	border-right:0 !important;
}
.grouping-table .width-4
{
	width:8%;
}
.grouping-table .column-title.width-4
{
	width:8%;
}
.grouping-table .column-title.width-24
{
	width: 23%;
}
.grouping-table .content-column-div
{
	width: 92%;
}
.main-single-line
{
	position:relative;
}
.main-single-line:before
{
	content: '';
    position: absolute;
    width: 1px;
    height: 176px;
	border: 1px dashed #a9c7dc;
	left: 6px;
	top: 7px;
}
.main-single-line i
{
	padding-left:15px;
	color:#a9c7dc;
	position:absolute;
}
.main-single-line:after
{
	content: '';
	position: absolute;
	width: 10px;
	height: 1px;
	border: 1px dashed #a9c7dc;
	left: 6px;
	top: 7px;
}
.last-single-line:before
{
	content: '';
    position: absolute;
    width: 1px;
    height: 102px !important;
    border: 1px dashed #a9c7dc;
    left: 6px;
}
.grouping-table .content-white .column-content .checkbox::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 88px;
    border: 1px dashed #a9c7dc;
    left: 50px;
}
.grouping-table .content-white .column-content .checkbox::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    border: 1px dashed #a9c7dc;
    left: 50px;
}
.grouping-table .column-content input[type="checkbox"] + span {
    margin-left: 45px;
}
.button-selector-popup
{
	background: #FFF;
	position: absolute;
	top: 43px;
	left: 44px;
	width: 610px;
	z-index:99;
	border-radius:3px;
	display:none;
}
.show-popup .button-selector-popup
{
	display:block;
}
.selected-row td
{
	background:#018cce !important;
	color:#FFF !important;
}
.text-message-blue
{
	color:#3c4f67;
}
.header-popup
{
	background:#93a5bd;
	padding:10px 15px;
}
.header-popup .title
{
	font-size:14px;
	color:#000;
	text-transform:uppercase;
	margin-top: 7px;
}

.popup-action-btn
{
	background:#FFF;
	color:#15a4fa;
	border: 0;
	padding: 9px;
	font-size: 14px;
}
.popup-action-btn:hover {
    background: #15a4fa;
    color: #FFF;
	
}
.width-60
{
	width:65%;
}
.width-40
{
	width:35%;
}
.popup-table table tr th
{
	background:#70849e;
	padding:10px;
	text-transform:uppercase;
	color:#FFF;
	font-size:12px;
}
.popup-table table tr td
{
	color:#000;
	padding:10px;
	font-size:12px;
	background:#edf4f7;
	border-bottom:1px solid #a9c7dc;
}
.popup-table table tr th .checkbox .checkbox-label
{
	margin-bottom: 16px;
	margin-left: 2px;
}
.popup-table table
{
	margin-bottom:0;
}
.popup-content
{
	border-left:1px solid #a9c7dc;
	border-right:1px solid #a9c7dc;
	border-bottom:1px solid #a9c7dc;
}
.btn-action.active:before
{
	content:'';
	position:absolute;
	bottom:-10px;
	left:0;
	right:0;
	margin:auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #93a5bd transparent;
}
.small-input
{
	padding: 7px 10px !important;
	height: auto !important;
	border: 1px solid transparent !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
select.small-input
{
	background:none !important;
}
select.small-input:hover
{
	border: 1px solid #a9c7dc !important;
	background: #FFF url(../images/select-arrow.png) no-repeat 97% 50% !important;
	box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7) !important;
	-moz-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7) !important;
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7) !important;
	-moz-box-shadow: 0px 3px 8px rgba(231,236,242,0.7) !important;
	-webkit-box-shadow: 0px 3px 8px rgba(231,236,242,0.7) !important;
	box-shadow: 0px 3px 8px rgba(231,236,242,0.7) !important;
}
.width-22
{
	width:28%;
}
.width-78
{
	width:67%;
}
.content-column-div
{
	width: 96%;
	float: left;
	border-bottom:1px solid #a9c7dc;
	border-right: 1px solid #a9c7dc;
}
.header-dark-gray, .header-faint-gray
{
	padding:10px 15px;
}
.content-white
{
	padding:0;
}
.header-dark-gray
{
	background:#4f627c;
}
.header-faint-gray
{
	background:#70849e;
}
.content-white
{
	background:#FFF;
}
.width-4
{
	width:4%;
	float:left;
}
.indent-text
{
	text-indent:-9999px;
}
.width-24
{
	width:24%;
	float:left;
}
.column-title, .column-content
{
	padding:5px 15px;
}
.column-title
{
	font-size:12px;
	color:#FFF;
	text-transform:uppercase;
}
.column-2, .column-3, .column-4, .column-5
{
	position:relative;
}
.column-2:before
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	height:110%;
	border-left:1px solid #a9c7dc;
}

.border-left-blue
{
	border-left:1px solid #a9c7dc;
}
.border-bottom-blue
{
	border-bottom:1px solid #a9c7dc;
}
.column-content input[type="checkbox"] + span {
    padding-left: 0;
}
.column-content input[type="checkbox"] + span::before {
    position: relative;
}

.column-content label
{
	font-size:12px;
	color:#000;
	padding: 5px 0;
}
.panel-input
{
	border-radius:0;
	font-size: 14px;
	color: #000;
	padding: 7px 10px;
	height: auto !important;
	-webkit-padding-before:5px;
	-webkit-padding-end:10px;
	-webkit-padding-after:5px;
	-webkit-padding-start:10px;
}
.btn-action
{
	background:#d0d5dd;
	border:0;
	color:#2f435d;
	font-size: 15px;
	padding: 9px;
	width: 34px;
	position:relative;
}
.border-right-join
{
	border-right:1px solid #b0b8c3;
}
.btn-tooltip
{
	background: #FFF;
	display: none;
	position: absolute;
	bottom: -35px;
	width:100px;
	padding:5px;
	color: #018cce;
	border-radius: 3px;
	z-index:9999;
	left: -33px;
	font-size:10px;
	text-transform:uppercase;
}
.btn-action:hover, .btn-action.active
{
	background:#59c203;
	color:#000;
}
.btn-action:hover .btn-tooltip
{
	display:block;
}
.btn-tooltip:before
{
	content:'';
	position:absolute;
	top:-7px;
	left:0;
	right:0;
	margin:auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent #FFF transparent;
}
.btn-action:first-child
{
	margin-left:0;
}
.btn-action:last-child
{
	margin-right:0;
}
.btn-action-selector
{
	padding:5px;
}
.checkbox-label
{
	color:#535353;
	font-size:12px;
}
.column-content
{
	position:relative;
}
.content-white .column-content .checkbox::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 85px;
    border:1px dashed #a9c7dc;
    left: 6px;
    top: 19px;
}

.last-checkbox::before
{
	content: '';
    position: absolute;
    width: 1px;
    height: 0px !important;
    border:1px dashed #a9c7dc;
    left: 6px;
    top: 19px;
}
.content-white .column-content .checkbox::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    border:1px dashed #a9c7dc;
    left: 6px;
    top: 19px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + span:last-child {
    margin-bottom: 0;
}
input[type="checkbox"] + span {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    color: #000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 12px;
	margin-top: 2px;
}
input[type="checkbox"] + span::before {

    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #a9c7dc;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.12s, border-color 0.08s;
    transition: all 0.12s, border-color 0.08s;
}
input[type="checkbox"]:checked + span::before {
    width: 7px;
    top: 0px;
    left: 8px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bottom-form-btn
{
	padding-top:110px;
}
.text-area-input
{
	height:119px;
}
.save-search-popup
{
	position:absolute;width: 290px;
	height: auto;
	background: #FFF;
	border: 1px solid #a9c7dc;
	border-radius: 3px;
	right: 0;
	top: 100%;
	z-index: 999;
	padding: 15px;
	display:none;
}
.save-search-popup:before
{
	content:'';
	position:absolute;
	top: -9px;
	right: 35px;
	background:url(../images/arrow-popup.png) no-repeat;
	width:17px;
	height:9px;
}
.save-search-btn
{
	border:0;
	background:transparent;
	color:#2db3f0;
	font-size:12px;
	font-family: 'montserratbold';
	text-transform:uppercase;
	padding-bottom: 12px;
}
.save-search-btn i
{
	font-size:15px;
	margin-right:5px;
}
.padding-30
{
	padding:30px 30px 0;
}
.disable-div
{
	pointer-events:none;
	opacity:0.5;
}
.card input[type="radio"]
{
	position: relative;
	top: 2px;
}
.card {
    background-color: #e4ebf1;
    width: auto;
    height: 223px;
	padding: 17px 20px;
}
.Email-sent
{
	width: 630px;
	margin:45px auto 0;
	border: 1px solid #a9c7dc;
}
.email-sent-box
{
	padding:45px 75px 50px;
}
.btn-area
{
	border-top:1px solid #a9c7dc;background:#f0f2f5;
}
.left-pwd-reset
{
	padding:35px 40px;
}
.big-card-reset {
    background-color: #fff;
    width: 840px;
    border: 1px solid #a9c7dc;
    border-radius: 4px;
    margin: auto;
}
.login-page {
    background-color: #f0f2f5;
    width: 100%;
    border: 1px solid #a9c7dc;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    padding: 48px 40px;
}

.outer-container {
    position : absolute;
    display: table;
    width: 100%;
    height: 100%;
}
.btn-reset-pwd
{
	width:100%;
	margin-top:15px;
}

.inner-container {
    display: table-cell;
    vertical-align: middle;
   
}

.font-50
{
	font-size:50px;
}
.btn-confirm
{
	margin-top:22px;
}
.fix-width
{
	margin-left:200px;
}
.image-box-circle
{
	width: 44px;
	height: 44px;
	border-radius: 100%;
	overflow: hidden;
	margin-top: 6px;
	
}
.text-blue-white
{
	color:#cdd3e9;
}
.btn-border-common
{
	border: 1px solid #23aaea;
	color:#23aaea;
	padding: 10px 15px;
	line-height: 8px;
	cursor:pointer;
	background:#FFF;
	width: 110px;
	font-size:12px;
	text-transform:uppercase;
	display: inline-block;
	font-family: 'montserratbold';
}
.btn-border-common i{

    margin-right: 5px;
    font-size: 15px;
    position: relative;
    top: 1px;

}
.border-right-blue
{
	position:relative;
}
.border-right-blue:after
{
	content:'';
	position:absolute;
	top:0;
	right:0;
	width:0px;
	height:100%;
	background:#b1ccdf;
}
.coverage-table
{
	height:250px;
	overflow-x:hidden;
	overflow-y:scroll;
}
.coverage-table .table td, .coverage-table .table th {
    border-right: 1px solid #a9c7dc;
}
.coverage-table .table thead tr:nth-child(2) th
{
	background:#a5b5c9;
	color:#000;
}
.review-link a
{
	color:#23aaea;
	font-size:12px;
	font-family: 'montserratbold';
	text-transform:uppercase;
}
.quick-link ul
{
	margin-top:15px;
}
.quick-link ul li
{
	list-style:none;
	font-size:12px;
	color:#3eb4eb;
	margin-top: 5px;
}
.quick-link ul li a
{
	color:#23aaea;
}
.quick-link ul li a.red-active
{
	color:#fa6b5b;
}
.quick-link-box
{
	border:1px solid #a9c7dc;
	border-radius:3px;
	padding:15px 20px;
	margin-top: 18px;
	background:#f0f2f5;
}
.border-bottom-blue
{
	border-bottom:1px solid #a9c7dc;
}
.ui-datepicker-trigger {
    position: absolute;
    top: 33px;
	right: 25px;
	background: transparent;
	border: 0;
	color:#535353;
}
.search-content
{
	padding:30px 30px 0;
}
.subpara
{
	width: 80%;
	margin: auto;
}
.btn-next, .btn-prev
{
	border: 1px solid #23aaea;
	color:#23aaea;
	padding: 10px 15px;
	line-height: 8px;
	cursor:pointer;
	background:transparent;
	width: 130px;
	display: inline-block;
	font-size:12px;
	font-family: 'montserratbold';
	text-transform: uppercase;
}
.btn-next:hover, .btn-prev:hover
{
	background:#23aaea;
	color:#FFF;
}
.btn-next i, .btn-prev i
{
	font-size:15px;
	position: relative;
	top: 1px;
}
.border-top-bottom
{
	border-top: 1px solid #a9c7dc;
	border-bottom: 1px solid #a9c7dc;
	padding: 10px 0;
	margin:20px 0;
	text-align: center;
}
.process-section:after
{
	content:'';
	position:absolute;
	top:0;
	right:30px;
	width:1px;
	height:80%;
	background:#a9c7dc;
}
.process-links
{
	margin-top:30px;
	position:relative;
}
.process-step
{
	position:relative;
}
.process-step:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 9px;
	width: 2px;
	height: 100%;
	background: #e3e9ec;
}
.process-1, .process-2, .process-3, .process-4, .process-5{
	position:relative;
}
.process-2:after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 4px;
	width: 2px;
	height: 54px;
	background: #59c203;
}
.link-list
{
	color:#23aaea;
	font-size:12px;
	font-family: 'montserratbold';
	margin-top: 3px;
}
.link-list:hover, .link-list.active, .link-list.done-link
{
	color:#59c203;
}
.main-circle
{
	width:20px;
	height:20px;
	border-radius:100%;
	position:relative;
	background:#e3e9ec;
}
.process-circle
{
	width:10px;
	height:10px;
	background:#59c203;
	border-radius:100%;
	position:absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	margin:auto;
	z-index: 9;
}

/*--------------------------Ravi----------------------*/
.input-box-width{
	width:200px;
}

.thead-style-color{
	background-color:#2f435d;
}

.search-box{
	width:auto;
	height:40px;
	background-color:#2f435d;
}

.text-btn-blue
{
	background-color:#15a4fa;
}
.input-height{
	height:30px;
}

.btn-height{
	height:34px;
}

.btn-radius{
	border-radius:0px;
}

.margin-top-3{
	margin-top:3px;
}
.btn-gender
{
	border:0;
	background:transparent;
	cursor:pointer;
}
.btn-gender:hover, .btn-gender.active
{
	color:#59c203;
}
.btn-gender:hover .gender-circle, .btn-gender.active .gender-circle
{
	background:#d4e6f4;
}
.gender-circle{
	background-color:#e4eaec;
	width:36px;
	height:36px;
	border-radius:50px;
	text-align:center;
	padding-top:8px;
}
.gender-circle i{
	font-size:20px;
}
.btn-white{
	background-color:#fff;
}

.hr-blue{
	background-color:#15a4fa
}

/*-----------------------End----------------------------*/
*
{
	margin:0;
	padding:0;
}
body
{
	margin:0;
	padding:0;
}
body
{
	font-family: 'montserratregular';
}
a, a:hover
{
	text-decoration:none;
	transition:0.35s ease-in;
}
button:focus, button:hover
{
	outline:none;
	transition:0.35s ease-in;
}
label
{
	margin-bottom: 0;
}
.main-logo
	{
		width: 301px;
	}
.mobile-login
{
	display:none;
}
.login-form-section
{
	padding:60px 60px 30px;
	position:fixed;
	right:0;
	top:0;
	background:#FFF;
	width:455px;
}
.footer-content
{
	padding-top: 135px;
}
.login-content
{
	width: 500px;
	position: absolute;
	bottom: 50px;
	left: 65px;
	color:#FFF;
}
.bg-login
{
	background:url(../images/loginbg.jpg) no-repeat;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	
}
.login-form
{
	padding-top:30px;
	position: relative;
	z-index: 9;
}
.login-form .form-group input
{
	padding:10px 15px;
	font-size:14px;
	font-family: 'montserratlight';
	color:#000;
	border-radius:0;
	box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-moz-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-moz-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	-webkit-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	border:1px solid #a9c7dc;
}

.sign-in-btn
{
	color:#FFF;
	padding:10px 15px;
	font-size:14px;
	text-transform:uppercase;
	border:0;
	border-radius:0;
	background: -moz-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33b5ee), color-stop(100%, #00a6fd)); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* ie10+ */
	background: linear-gradient(0deg, #00a6fd 0%, #33b5ee 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b5ee', endColorstr='#00a6fd',GradientType=0 ); /* ie6-9 */
	-moz-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	-webkit-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	cursor:pointer;
}
.sign-in-btn:hover
{
	color:#FFF;
	background: -moz-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6fd), color-stop(100%, #33b5ee)); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* ie10+ */
	background: linear-gradient(180deg, #00a6fd 0%, #33b5ee 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6fd', endColorstr='#33b5ee',GradientType=0 ); /* ie6-9 */
	cursor:pointer;
}
.forgot-pwd-link
{
	display:block;
	margin-top: 12px;
}

.infographic
{
	position:absolute;
	bottom:185px;
	left:0;
	width:100%;
	height:180px;
	background:url(../images/logingraphic.png);
	background-repeat:no-repeat;
	background-size:100% 100%; 
}

.primary-btn
{
	color:#FFF;
	padding:10px 15px;
	font-size:12px;
	text-transform:uppercase;
	border:0;
	border-radius:0;
	cursor:pointer;
	font-family: 'montserratbold';
	background: -moz-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33b5ee), color-stop(100%, #00a6fd)); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, #00a6fd 0%, #33b5ee 100%); /* ie10+ */
	background: linear-gradient(0deg, #00a6fd 0%, #33b5ee 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b5ee', endColorstr='#00a6fd',GradientType=0 ); /* ie6-9 */
}
.primary-btn:hover
{
	background: -moz-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a6fd), color-stop(100%, #33b5ee)); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, #00a6fd 0%, #33b5ee 100%); /* ie10+ */
	background: linear-gradient(180deg, #00a6fd 0%, #33b5ee 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6fd', endColorstr='#33b5ee',GradientType=0 ); /* ie6-9 */
}

.primary-btn i, .secondary-btn i
{
	margin-right:5px;
	font-size: 15px;
	position: relative;
	top: 1px;
}
.secondary-btn
{
	color:#000;
	padding:9.5px 15px;
	font-size:12px;
	text-transform:uppercase;
	border-radius:0;
	border:0;
	background:transparent;
	cursor:pointer;
	font-family: 'montserratbold';
	margin-right:10px;
}
.secondary-btn:hover {
    color: #3E3E3E;
	
}
.help-link
{
	display:block;
	margin-top:10px;
}
.common-input
{
	padding:7px 15px;
	font-size:14px;
	color:#000;
	border-radius:0;
	border:1px solid #a9c7dc;
	box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-moz-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-moz-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	-webkit-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
}
.common-input:hover, .common-input:focus,
.login-form .form-group input:hover, .login-form .form-group input:focus
{
	border:1px solid #23aaea;
	box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-moz-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-webkit-box-shadow: inset 0 7px 9px -7px rgba(239,239,239,0.7);
	-moz-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	-webkit-box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
	box-shadow: 0px 3px 8px rgba(231,236,242,0.7);
}
.common-label
{
	font-size: 14px;
	color: #535353;
	margin-bottom: 5px;
	font-family: 'montserratmedium';
}
.text-label-gray
{
	color:#535353;
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #FFF url(../images/select-arrow.png) no-repeat 97% 50%;
	padding-right: 25px !important;
}

.border-middle
{
	border-bottom:1px solid #a9c7dc;
	
}
.questionnarie-section
{
	width: 620px !important;
	padding: 20px 40px 30px !important;
}
/*----header css--*/
.header-hws
{
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index: 99;
}
.breadcrumb-list
{
	margin-left: -80px;
}
.breadcrumb-list a
{
	font-size:14px;
	text-transform:uppercase;
	color:#FFF;
}
.breadcrumb-list span
{
	color:#FFF;
}
.menu-links ul 
{
	padding-left:0;
	margin-bottom: 0;
}
.menu-links ul li
{
	float:left;
	list-style:none;
}
.menu-links ul li a
{
	display:block;
	color:#FFF;
	font-size:14px;
	margin: 0 10px;
	position:relative;
}
.menu-links ul li:last-child a
{
	margin-right:0;
}

.notif-count
{
	position: absolute;
	top: -9px;
	right: -8px;
	width: 17px;
	height: 17px;
	border-radius: 100%;
	padding-top: 2px;
	color: #FFF;
	background: #ffb404;
	font-size: 10px;
	text-align: center;
}
.navbar {
    padding: 0;
}
.header-hws .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
	margin-right: 0;
}
.header-hws nav
{
	background: #15a4fa;
}
.profile-pic
{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	overflow: hidden;
	border: 2px solid #587689;
}
.profile-pic img
{
	width:100%;
}
.profile-info
{
	background:#213343;
	padding: 8px 15px 8px 15px;
}
.menu-links
{
	float:right;
	padding-top: 5px;
}
.menu-links .dropdown-toggle::after {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.menu-links .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0 0;
    margin: 15px 0 0;
    font-size: 12px;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.menu-links .dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin: 0 !important;
    font-size: 12px;
}
.menu-links .dropdown-menu.show {
    display: block;
}
/*----header css end----*/
.main-content
{
	padding-top:46px;
	padding-left: 80px;
	padding-right: 20px;
	-moz-transition:all .3s ease-out;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.main-content-padding
{
	padding-left: 22.5%;
	-moz-transition:all .3s ease-out;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
span .fa-sort-down
{
	position: absolute;
    top: 27%;
    right: 10px;
	display: block;
}
span .fa-sort
{
	position: absolute;
    top: 33%;
    right: 0;
	display: block;
}
.custom-pos
{
	right: auto !important;
	left: 120px;
}
span .fa-sort-up
{
	position: absolute;
    top: 36%;
	right: 10px;
	display: block;
}

.common-table
{
	margin-bottom:20px;
}
.common-table .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #a9c7dc;
	border-left:1px solid #70849e;
	border-right:1px solid #70849e;
	border-top:1px solid #70849e;
    background: #70849e;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
	vertical-align: middle;
	position: relative;
	padding: 10px;
}
.common-table .form-group
{
	margin-bottom:0;
}
.search-result-table .table-hover tbody tr:first-child:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.common-table .table-hover tbody tr:hover{
    background-color: #018ccf;
}
.common-table .table-hover tbody tr:hover td, .common-table .table-hover tbody tr:hover .text-link-blue
{
	color:#FFF;
}
.common-table .table td {
   padding: 10px;
    vertical-align: top;
    border-top: 1px solid #a9c7dc;
    font-size: 12px;
    color: #000;
}
.common-table .table tr:last-child td
{
	border-bottom:1px solid #a9c7dc;
}
.common-table .table {
    border-left: 1px solid #a9c7dc;
	border-right: 1px solid #a9c7dc;
	margin-bottom: 0;
}
.pagination-block ul
{
	padding-left: 5px;
}
.pagination-block ul li
{
	float: left;
	list-style: none;
	padding: 0 7px;
}
.pagination-block ul li span input
{
	width: 40px;
	padding: 2px 5px;
	border:1px solid #a9c7dc;
	border-radius:3px;
	color:#15a4fa;
	text-align:center;
}
.pagination-block ul li a
{
	font-size: 16px;
	padding: 5px 0;
	color:#09121b;
}
.total-page
{
	top: 3px;
	position: relative;
}


.collapse_menu .collapse_menu--icon,.vertical_nav{
	-moz-transition:all .3s ease-out;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	}
*{box-sizing:border-box}:active,:focus{outline:0}
.toggle_menu{
	display:block;
	float:left;
	width:50px;
	height:50px;
	line-height:50px;
	padding:0;
	background:0 0;
	border:0;
	text-align:center;
	cursor:pointer;
	color: #FFF;
	}
.toggle_menu i{display:block;font-size:22px;}
.vertical_nav{position:fixed;left:-21%;top:46px;bottom:0;width:21%;background:#213343;z-index: 99;}
.vertical_nav__closed{left:-200px!important}
.vertical_nav__opened{left:0!important;}
.menu{position:absolute;top:0px;bottom:0;overflow-y:auto;width:100%;margin:0;padding:0;list-style-type:none;transition: all .3s ease-out;}
.menu--item{position:relative;min-height:40px;line-height:35px;}

.more-menu
{
	position: absolute;
	top: 20px;
	right: 15px;
	font-size: 15px;
	display:none;
	background:transparent;
}

.menu--subitens__opened{color:#59c203;
	background:#162532;}
.menu--subitens__opened .menu--link, .menu--subitens__opened .menu--icon{color:#59c203}
.menu--subitens__opened .sub_menu{display:block;background:#101c27;transition: all .3s ease-out;}
.menu--link{
	display: block;
overflow: hidden;
font-size: 12px;
text-decoration: none;
color: #FFF;
font-weight: 400;
white-space: nowrap;
cursor: pointer;
text-transform: uppercase;
	}
.menu--link:hover,.menu--link:hover .menu--label, .menu--link:hover,.menu--link:hover .menu--icon,
.menu--item.active .menu--link, .menu--item.active .menu--icon
{
	color:#59c203;
	background:#162532;
}
.menu--link:hover:before , .menu--item.active .menu--link:before,
.menu--subitens__opened .menu--link:before
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:6px;
	height:55px;
	background:#59c203;
}
.menu--icon{
	display:block;
	float:left;
	width: 55px;
	height: 55px;
	line-height: 53px;
	font-size:15px;
	color:#6382a9;
}
.menu--label{display:block;height: 55px;
line-height: 56px;}
.sub_menu{display:none;overflow:hidden;padding-left:0;list-style:none}
.sub_menu li
{
	border-bottom:1px solid #213343;
}

.sub_menu li:last-child
{
	border-bottom:0px solid #213343;
}
.sub_menu--link{display:block;padding-left:55px;padding-right:16px;font-size:12px;color:#FFF;text-decoration:none;text-transform: uppercase;font-family: 'montserratlight';}
.sub_menu--link i
{
	font-size: 15px;
	margin-right: 10px;
}
.sub_menu--link:hover, .sub_menu--link.active{color:#FFF;
	background:#59c203;}
.sub_menu--link__active{color:#000;font-weight:500}
.collapse_menu{display:none}
.close-toggle
{
	display:none;
}

.upload-profile-file
{
	position:relative;
}
.upload-profile-file:after
{
	content:'';
	position:absolute;
	top:0;
	right:20px;
	width:1px;
	height:100%;
	background:#a9c7dc;
}
.upload-profile-file .file-upload {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-left: 0;
}
.upload-profile-file .file-upload .file-select {
    display: block;
    color: #34495e;
    cursor: pointer;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.upload-profile-file .file-upload .file-select .file-select-button {
    background: transparent;
	padding-top: 2px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 4px;
	border: 1px dashed #a9c7dc;
	width: 73px;
	height: 73px;
	margin-left: 3px;
	text-align: center;
}
.upload-profile-file .file-upload .file-select .file-select-button i
{
	font-size:67px;
	color:#e5eef4;
	
}
.upload-profile-file .file-upload .file-select .file-select-name {
    display: block;
	padding: 5px 0 0;
	font-size: 11px;
	color: #23aaea;
	text-transform:uppercase;
	font-family: 'montserratbold';
}
.upload-profile-file .file-upload .file-select input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*-----admin start-----*/
.common-desktop-type {
    display: block;
}
#lbt-slider{
   display:none;
}
#lbt-slider.owl-theme .owl-nav{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}
#lbt-slider.owl-theme .owl-nav [class*="owl-"]
{
    font-size: 17px;
    margin: 5px 0;
    padding: 4px 8px;
    width: 25px;
    height: 25px;
    background: #ADC5D7;
    border-radius: 100%;
    text-align: center;
    color: #FFF;
}
#lbt-slider.owl-theme .owl-nav .owl-prev{
    position: absolute;
    left: -30px;
    top: 5px;
}
#lbt-slider.owl-theme .owl-nav .owl-next{
    position: absolute;
    right: -30px;
    top: 5px;
}
#lbt-slider.owl-carousel {
    width: 85%;
    margin: auto;
}
.width-tab
{
	width:19.2%;
	margin-right:1%;
}

.panel-top
{
	background: #2f435d;
	padding: 10px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.add-btn
{
	background: #15a4fa;
	color: #FFF;
	padding: 8px 10px;
	display: block;
	width: 65px;
	text-transform: uppercase;
	font-size: 12px;
}
.add-btn:hover
{
	color:#FFF;
	background: #008ee4;
}
.vessel-data-box {
	border:1px solid #FFF;
    border-radius: 3px;
    padding: 15px;
    position: relative;
    color: #FFF;
}
.vessel-data-box.active, .vessel-data-box:hover {
    background: #213343;
    color: #FFF;
    border: 1px solid #3398e6;
}

.vessel-data-box.active::after, .vessel-data-box:hover::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    height: 10px;
    background: url(../images/active-arrow.png) no-repeat;
}
.icon-vessel-schedule {
    width: 40px;
	height: 40px;
	border-radius: 100%;
	padding: 5px;
	border: 2px solid rgba(255,255,255,0.5);
	text-align: center;
	background: #FFF;
	color: #2f435d;
	font-size: 18px;
}
.vessel-data-box.active .icon-vessel-schedule,
.vessel-data-box:hover .icon-vessel-schedule
{
	color:#FFF;
	border: 2px solid rgba(255,255,255,0.7);
}
.title-vessels-type
{
	margin-left: 15px;
	color:#FFF;
}
.facility-bg,
.vessel-data-box.facility-bg:hover .icon-vessel-schedule,
.vessel-data-box.active.facility-bg .icon-vessel-schedule
{
	background: -moz-linear-gradient(0deg, #ffb133 0%, #ff842d 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffb133), color-stop(100%, #ff842d)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #ffb133 0%, #ff842d 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #ffb133 0%, #ff842d 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #ffb133 0%, #ff842d 100%); /* ie10+ */
	background: linear-gradient(90deg, #ffb133 0%, #ff842d 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb133', endColorstr='#ff842d',GradientType=1 ); /* ie6-9 */
}
.users-bg,
.vessel-data-box.users-bg:hover .icon-vessel-schedule,
.vessel-data-box.active.users-bg .icon-vessel-schedule
{
	background: -moz-linear-gradient(0deg, #ffa069 0%, #ff6894 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffa069), color-stop(100%, #ff6894)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #ffa069 0%, #ff6894 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #ffa069 0%, #ff6894 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #ffa069 0%, #ff6894 100%); /* ie10+ */
	background: linear-gradient(90deg, #ffa069 0%, #ff6894 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa069', endColorstr='#ff6894',GradientType=1 ); /* ie6-9 */
}
.job-type-bg,
.vessel-data-box.job-type-bg:hover .icon-vessel-schedule,
.vessel-data-box.active.job-type-bg .icon-vessel-schedule
{
	background: -moz-linear-gradient(0deg, #41de9a 0%, #3cb9b3 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #41de9a), color-stop(100%, #3cb9b3)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #41de9a 0%, #3cb9b3 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #41de9a 0%, #3cb9b3 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #41de9a 0%, #3cb9b3 100%); /* ie10+ */
	background: linear-gradient(90deg, #41de9a 0%, #3cb9b3 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41de9a', endColorstr='#3cb9b3',GradientType=1 ); /* ie6-9 */
}

.job-template-bg,
.vessel-data-box.job-template-bg:hover .icon-vessel-schedule,
.vessel-data-box.active.job-template-bg .icon-vessel-schedule
{
	background: -moz-linear-gradient(0deg, #00c7e1 0%, #00adea 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00c7e1), color-stop(100%, #00adea)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #00c7e1 0%, #00adea 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #00c7e1 0%, #00adea 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #00c7e1 0%, #00adea 100%); /* ie10+ */
	background: linear-gradient(90deg, #00c7e1 0%, #00adea 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c7e1', endColorstr='#00adea',GradientType=1 ); /* ie6-9 */
}

.file-format-bg,
.vessel-data-box.file-format-bg:hover .icon-vessel-schedule,
.vessel-data-box.active.file-format-bg .icon-vessel-schedule
{
	background: -moz-linear-gradient(0deg, #546bde 0%, #5845cd 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #546bde), color-stop(100%, #5845cd)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #546bde 0%, #5845cd 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #546bde 0%, #5845cd 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #546bde 0%, #5845cd 100%); /* ie10+ */
	background: linear-gradient(90deg, #546bde 0%, #5845cd 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#546bde', endColorstr='#5845cd',GradientType=1 ); /* ie6-9 */
}

.icon-vessel-schedule img {
    width: 100%;
}
.vessel-count {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #FFF;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
	opacity: 0.7;
}
/*-----admin end----*/

.add-fac-width
{
	width:18.5%;
}

.add-facility select {
    background: #FFF url(../images/select-arrow.png) no-repeat 94% 50%;
}
.outer-div
{
	background:#f0f2f5
	;padding:15px 20px 20px;
	border:1px solid #a9c7dc;
	border-radius:3px;
}
.inner-div
{
	padding:15px 20px;
	background:#FFF;
	border:1px solid #a9c7dc;
	border-radius:3px;
}
.width-10
{
	width:10%;
}
.width-90
{
	width:90%;
}

.top-info-panel
{
	background: -moz-linear-gradient(0deg, #1d2339 0%, #2f5a7f 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d2339), color-stop(100%, #2f5a7f)); /* safari4+,chrome */
background: -webkit-linear-gradient(0deg, #1d2339 0%, #2f5a7f 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(0deg, #1d2339 0%, #2f5a7f 100%); /* opera 11.10+ */
background: -ms-linear-gradient(0deg, #1d2339 0%, #2f5a7f 100%); /* ie10+ */
background: linear-gradient(90deg, #1d2339 0%, #2f5a7f 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2339', endColorstr='#2f5a7f',GradientType=1 ); /* ie6-9 */
padding:15px 25px;
border-radius:5px;
}
.top-info-box
{
	position:relative;
}
.top-info-box:after
{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:100%;
	border-left:0px solid #1d2339;
	border-right:0px solid #38455c;
}
.edit-btn
{
	padding: 5px;
	background:#2ab2f1;
	color:#FFF;
	margin-top: 5px;
	display: block;
	width: 27px;
}
.edit-btn:hover
{
	color:#FFF;
	background:#008ee4;
}
.tab-content
{
	border-left: 1px solid #a9c7dc;
	border-right: 1px solid #a9c7dc;
	border-bottom: 1px solid #a9c7dc;
	background:#f0f2f5;
}
.tab-inner-content
{
	padding:20px;
}
.fac-info-section, .department
{
	background:#FFF;
	padding:15px 20px;
	border: 1px solid #a9c7dc;
	border-radius:3px;
}
.btn-delete-row, .btn-edit-row
{
	border: 0;
	background: transparent;
	font-size: 15px;
	color: #fa3a3a;
}
.fac-details .nav-tabs {
    border-bottom: 0px solid #dee2e6;
    background: #3c4f67;
}
.fac-details .nav-tabs .nav-item {
    margin-bottom: 0px;
}
.fac-details .nav-tabs .nav-link.active, .fac-details .nav-tabs .nav-item.show .nav-link {
    color: #FFF;
    background-color: #018cce;
    border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
	border-top: transparent;
}
.fac-details .nav-tabs .nav-link {
    border-left: transparent;
	border-right: 1px solid #68798a;
	border-bottom: transparent;
	border-top: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFF;
	padding: 10px 15px;
}
.fac-details .nav-tabs .nav-link:hover, .fac-details .nav-tabs .nav-link:focus {
    color: #FFF;
    background-color: #018cce;
    border-color: transparent;
}

.coverage-profile
{
	width: 45px;
	height: 45px;
	border-radius: 100%;
	overflow: hidden;
}

/*-----font css-----*/

.extrabold-montserrat
{
	font-family: 'montserratextrabold';
}
.light-montserrat
{
	font-family: 'montserratlight';
}
.medium-montserrat
{
	font-family: 'montserratmedium';
}
.regular-montserrat
{
	font-family: 'montserratregular';
}
.semibold-montserrat
{
	font-family: 'montserratsemibold';
}
.thin-montserrat
{
	font-family: 'montserratthin';
}
.bold-montserrat
{
	 font-family: 'montserratbold';
}

@font-face {
    font-family: 'montserratextrabold';
    src: url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-----font css end-----*/

/*---font size css---*/
.font-9
{
	font-size:9px;
}
.font-10
{
	font-size:10px;
}
.font-11
{
	font-size:11px;
}
.font-12
{
	font-size:12px;
}
.font-13
{
	font-size:13px;
}
.font-14
{
	font-size:14px;
}
.font-15
{
	font-size:15px;
}
.font-16
{
	font-size:16px;
}
.font-18
{
	font-size:18px;
}
.font-20
{
	font-size:20px;
}
.font-22
{
	font-size:22px;
}
.font-24
{
	font-size:24px;
}
.font-26
{
	font-size:26px;
}
.font-36
{
	font-size:36px;
}
/*---font size css end---*/

/*--text-align-css--*/

.left-float
{
	float:left;	
}
.right-float
{
	float:right;	
}
.none-float
{
	float:none !important;	
}

/*--text-align-css end--*/
.status-green
{
	color:#59c203;
}
.status-yellow
{
	color:#ebc54a;
}
.status-gray
{
	color:#939393;
}
.status-red
{
	color:#fa6b5b;
}
.text-white
{
	color:#FFF;
}
.text-black
{
	color:#000;
}
.text-link-blue
{
	color:#23aaea;
}
.text-green
{
	color:#59c203;
}
/*---spacing css---*/
.line-height-25
{
	line-height: 25px;
}
.padding-top-0
{
	padding-top:0px;
}
.padding-right-0
{
	padding-right:0px;
}
.padding-bottom-0
{
	 padding-bottom:0px;
}
.padding-left-0
{
	 padding-left:0px;
}
.padding-top-5
{
	padding-top:5px;
}
.padding-right-5
{
	padding-right:5px;
}
.padding-bottom-5
{
	 padding-bottom:5px;
}
.padding-left-5
{
	 padding-left:5px;
}

.padding-top-10
{
	padding-top:10px;
}
.padding-right-10
{
	padding-right:10px;
}
.padding-bottom-10
{
	 padding-bottom:10px;
}
.padding-left-10
{
	 padding-left:10px;
}
.padding-top-15
{
	padding-top:15px;
}
.padding-right-15
{
	padding-right:15px;
}
.padding-bottom-15
{
	 padding-bottom:15px;
}
.padding-left-15
{
	 padding-left:15px;
}

.padding-top-20
{
	padding-top:20px;
}
.padding-right-20
{
	padding-right:20px;
}
.padding-bottom-20
{
	 padding-bottom:20px;
}
.padding-left-20
{
	 padding-left:20px;
}
.padding-top-25
{
	padding-top:25px;
}
.padding-right-25
{
	padding-right:25px;
}
.padding-bottom-25
{
	 padding-bottom:25px;
}
.padding-left-25
{
	 padding-left:25px;
}
.padding-top-30
{
	padding-top:30px;
}
.padding-right-30
{
	padding-right:30px;
}
.padding-bottom-30
{
	 padding-bottom:30px;
}
.padding-left-30
{
	 padding-left:30px;
}
.padding-top-35
{
	padding-top:35px;
}
.padding-right-35
{
	padding-right:35px;
}
.padding-bottom-35
{
	 padding-bottom:35px;
}
.padding-left-35
{
	 padding-left:35px;
}
.padding-top-40
{
	padding-top:40px;
}
.padding-right-40
{
	padding-right:40px;
}
.padding-bottom-40
{
	 padding-bottom:40px;
}
.padding-left-40
{
	 padding-left:40px;
}
.padding-top-45
{
	padding-top:45px;
}
.padding-right-45
{
	padding-right:45px;
}
.padding-bottom-45
{
	 padding-bottom:45px;
}
.padding-left-45
{
	 padding-left:45px;
}
.padding-top-50
{
	padding-top:50px;
}
.padding-right-50
{
	padding-right:50px;
}
.padding-bottom-50
{
	 padding-bottom:50px;
}
.padding-left-50
{
	 padding-left:50px;
}

.margin-top-0

{
	 margin-top:0px;
}
.margin-right-0
{
	margin-right:0px;
}
.margin-bottom-0
{
	 margin-bottom:0px;
}
.margin-left-0
{
	 margin-left:0px;
}
.margin-top-5
{
	 margin-top:5px;
}
.margin-right-5
{
	margin-right:5px;
}
.margin-bottom-5
{
	 margin-bottom:5px;
}
.margin-left-5
{
	 margin-left:5px;
}


.margin-top-10
{
	 margin-top:10px;
}
.margin-right-10
{
	margin-right:10px;
}
.margin-bottom-10
{
	 margin-bottom:10px;
}
.margin-left-10
{
	 margin-left:10px;
}
.margin-top-15
{
	 margin-top:15px;
}
.margin-right-15
{
	margin-right:15px;
}
.margin-bottom-15
{
	 margin-bottom:15px;
}
.margin-left-15
{
	 margin-left:15px;
}
.margin-top-20
{
	 margin-top:20px;
}
.margin-right-20
{
	margin-right:20px;
}
.margin-bottom-20
{
	 margin-bottom:20px;
}
.margin-left-20
{
	 margin-left:20px;
}
.margin-top-25
{
	 margin-top:25px;
}
.margin-right-25
{
	margin-right:25px;
}
.margin-bottom-25
{
	 margin-bottom:25px;
}
.margin-left-25
{
	 margin-left:25px;
}

.margin-top-30
{
	 margin-top:30px;
}
.margin-right-30
{
	margin-right:30px;
}
.margin-bottom-30
{
	 margin-bottom:30px;
}
.margin-left-30
{
	 margin-left:30px;
}
.margin-top-35
{
	 margin-top:35px;
}
.margin-right-35
{
	margin-right:35px;
}
.margin-bottom-35
{
	 margin-bottom:35px;
}
.margin-left-35
{
	 margin-left:35px;
}
.margin-top-40
{
	 margin-top:40px;
}
.margin-right-40
{
	margin-right:40px;
}
.margin-bottom-40
{
	 margin-bottom:40px;
}
.margin-left-40
{
	 margin-left:40px;
}
.margin-top-45
{
	padding-top:45px;
}
.margin-right-45
{
	padding-right:45px;
}
.margin-bottom-45
{
	 padding-bottom:45px;
}
.margin-left-45
{
	 padding-left:45px;
}

.margin-top-50
{
	 margin-top:50px;
}
.margin-right-50
{
	margin-right:50px;
}
.margin-bottom-50
{
	 margin-bottom:50px;
}
.margin-left-50
{
	 margin-left:50px;
}


/*---spacing css end---*/
@media screen and (max-width:991px)
{
	.fixed-width-table
	{
		overflow:auto;
	}
	.scrollable
	{
		width:1000px;
		overflow:hidden;
	}
}

@media (min-width:1380px) and (max-width:2000px)
{
	.bg-login {
    	background-size: cover;
	}
}
@media (min-width:1701px) and (max-width:2000px)
{
	.bottom-form-btn {
    padding-top: 280px;
}
	.inner-div .width-10 {
		width: 7.5%;
	}
	.inner-div .width-90 {
		width: 91.5%;
	}
	.questionnarie-section
	{
		padding: 100px 40px 30px !important;
	}
	.questionnarie-section .margin-bottom-20 {
		margin-bottom: 40px;
	}
	.questionnarie-section .margin-bottom-10
	{
		margin-bottom: 20px;
	}
	.questionnarie-section .margin-top-10 {
		margin-top: 20px;
	}
	.questionnarie-section .form-group
	{
		margin-bottom:20px;
	}
	.questionnarie-section .margin-top-15 {
		margin-top: 20px;
	}
	.login-form-section .margin-bottom-30 {
		margin-bottom: 50px;
	}
	.login-form-section .login-form {
    	padding-top: 50px;
	}
	.login-form-section .margin-bottom-40 {
		margin-bottom: 60px;
	}
	.login-form-section
	{
		padding: 100px 50px 30px;
		width:410px;
	}
	.footer-content
	{
		padding-top: 245px;
	}
	.infographic {
    	bottom: 295px;
	}
	.infographic {
    	height: 206px;
	}
	.login-content {
	    bottom: 75px;
	}
}
@media (min-width:1501px) and (max-width:1700px)
{
	.bottom-form-btn {
    padding-top: 230px;
}
	.inner-div .width-10 {
		width: 9%;
	}
	.inner-div.width-90 {
		width: 91%;
	}
	.questionnarie-section
	{
		padding: 70px 40px 30px !important;
	}
	.questionnarie-section .margin-bottom-20 {
		margin-bottom: 40px;
	}
	.questionnarie-section .margin-bottom-10
	{
		margin-bottom: 20px;
	}
	.questionnarie-section .margin-top-10 {
		margin-top: 20px;
	}
	.questionnarie-section .form-group
	{
		margin-bottom:20px;
	}
	.questionnarie-section .margin-top-15 {
		margin-top: 20px;
	}
	
	.login-form-section .margin-bottom-30 {
		margin-bottom: 40px;
	}
	.login-form-section .login-form {
    	padding-top: 40px;
	}
	.login-form-section .margin-bottom-40 {
		margin-bottom: 50px;
	}
	.login-form-section
	{
		padding: 75px 50px 30px;
		width:410px;
	}
	.footer-content
	{
		padding-top: 228px;
	}
	.infographic {
    	bottom: 240px;
	}
}
@media (min-width:1380px) and (max-width:1500px)
{
	.questionnarie-section
	{
		padding: 40px 40px 30px !important;
	}
	.questionnarie-section .margin-bottom-20 {
		margin-bottom: 40px;
	}
	.questionnarie-section .margin-bottom-10
	{
		margin-bottom: 20px;
	}
	.questionnarie-section .margin-top-10 {
		margin-top: 20px;
	}
	.questionnarie-section .form-group
	{
		margin-bottom:20px;
	}
	.questionnarie-section .margin-top-15 {
		margin-top: 20px;
	}
	.login-form-section
	{
		padding: 80px 50px 30px;
		width:410px;
	}
	.footer-content
	{
		padding-top: 220px;
	}
	.infographic {
    	height: 206px;
	}
}
@media (min-width:1200px) and (max-width:1300px)
{
	.bottom-form-btn {
    padding-top: 202px;
}
	.small-desktop-box
	{
		position:relative;
	}
	.small-desktop-box:after
	{
		content:'';
		border-left: 0px solid #1d2339;
		border-right: 0px solid #38455c;
	}
	.inner-div .width-10 {
		width: 11%;
	}
	.inner-div .width-90 {
		width: 89%;
	}
	.upload-profile-file .file-upload .file-select .file-select-button {
		width: 60px;
		height: 60px;
		margin-left: 10px;
	}
	.upload-profile-file .file-upload .file-select .file-select-button i {
    	font-size: 54px;
	}
	.questionnarie-section
	{
		width: 510px !important;
		padding: 30px 40px 30px !important;
	}
	.questionnarie-section .padding-right-20 {
		padding-right: 0px;
	}
	.questionnarie-section .margin-bottom-20 {
		margin-bottom: 15px;
	}
	.questionnarie-section .margin-bottom-10
	{
		margin-bottom: 15px;
	}
	.questionnarie-section .margin-top-10 {
		margin-top: 15px;
	}
	.questionnarie-section .form-group
	{
		margin-bottom:15px;
	}
	.questionnarie-section .margin-top-15 {
		margin-top: 15px;
	}
	
	.login-form-section
	{
		padding: 80px 50px 30px;
		width:410px;
	}
	.footer-content
	{
		padding-top: 140px;
	}
	.infographic {
    	bottom: 210px;
	}
}

@media (min-width:992px) and (max-width:1199px)
{
	.width-24 {
    	width: 23.7%;
	}
	.column-title.width-4 {
    	width: 4%;
	}
	.width-4 {
    	width: 6%;
	}
	.content-column-div {
    	width: 94%;
	}
	.btn-action {
		font-size: 13px;
		width: 30px;
		height: 33px;
	}
	.fix-width {
		margin-left: 15%;
	}
	.contact span
	{
		display:block;
	}
	.contact span.margin-left-20
	{
		margin-left:0;
	}
	.image-box-circle {
		margin-top: 15px;
	}
	.btn-gender .gender-circle {
		width: 25px;
		height: 25px;
		padding-top: 5px;
	}
	.btn-gender .gender-circle i {
		font-size: 14px;
	}
	.btn-gender .padding-top-10 {
		padding-top: 5px;
	}
	.btn-gender .font-12 {
		font-size: 11px;
	}
	.fac-details .nav-tabs .nav-link {
		padding: 10px 10px;
	}
	.inner-div .width-10 {
		width: 15%;
		padding: 30px 0;
	}
	.upload-profile-file::after {
    	right: 0;
	}
	.inner-div .width-90 {
		width: 85%;
		padding-left: 15px;
	}
	.upload-profile-file .file-upload {
		display: flex;
		width: 85px;
		margin: auto;
	}
	.inner-div .padding-top-15 {
		padding-top: 5px;
	}
	.add-fac-width {
    width: 30%;
}
	.add-fac-width-open {
		width: 30%;
	}
	.upload-profile-file .file-upload .file-select .file-select-button {
		width: 55px;
		height: 55px;
		margin-left: 12px;
	}
	.upload-profile-file .file-upload .file-select .file-select-button i {
		font-size: 49px;
	}
	.icon-vessel-schedule {
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.title-vessels-type.font-14 {
		font-size: 10px;
	}
	.title-vessels-type.padding-top-10 {
		padding-top: 8px;
	}
	.vessel-count {
		top: 3px;
		right: 3px;
		font-size: 12px;
	}
	.breadcrumb-list {
		margin-left: -40px;
	}
	.vertical_nav {
		left: -27%;
		width: 27%;
	}
	.main-content {
    	padding-left: 75px;
	}
	.main-content-padding {
    	padding-left: 29%;
	}
	.breadcrumb-list a {
    	font-size: 12px;
	}
	.menu-links {
		padding-top: 3px;
	}
	.questionnarie-section
	{
		width: 510px !important;
		padding: 25px 40px 30px !important;
	}
	.questionnarie-section .padding-right-20 {
		padding-right: 0px;
	}
	.questionnarie-section .margin-bottom-20 {
		margin-bottom: 20px;
	}
	.questionnarie-section .margin-bottom-10
	{
		margin-bottom: 20px;
	}
	.questionnarie-section .margin-top-10 {
		margin-top: 20px;
	}
	.questionnarie-section .form-group
	{
		margin-bottom:15px;
	}
	.questionnarie-section .margin-top-15 {
		margin-top: 15px;
	}
	
	.login-form-section {
		padding: 60px 30px 30px;
		width: 370px;
	}
	.bg-login {
	   background-size: cover;
	}
	.footer-content {
	   padding-top: 135px;
	}
	.login-form {
	    padding-top: 40px;
	}
	.login-form-section .margin-bottom-40 {
		margin-bottom: 50px;
	}
	.infographic {
    	bottom: 75px;
		height:206px;
	}
	.main-logo img
	{
		width:100%;
	}
	.login-content {
	    width: 430px;
	}
	.login-content .font-36 {
    	font-size: 32px;
	}
	.login-content .font-20 {
	    font-size: 15px;
	}
}
@media (min-width:992px)
{
	.vertical_nav{left:0}
	.toggle_menu{display:none}
	.vertical_nav__minify{width:55px}
	.vertical_nav__minify .menu{overflow:visible}
	.vertical_nav__minify .menu--label{display:none;position:absolute;top:0;left:55px;width:250px;padding-left:16px;padding-right:16px;background: #162532;font-weight:500;color:#59c203;}
	.vertical_nav__minify .menu--item__has_sub_menu .menu--link:after{content:""}
	.vertical_nav__minify .menu--subitens__opened .menu--label,.vertical_nav__minify .menu--subitens__opened .sub_menu{display:block}
	.vertical_nav__minify .sub_menu{position:absolute;top: 55px;
left: 55px;
width: 250px;background: #101c27;color:#FFF;}
	.vertical_nav__minify .sub_menu--link{padding-left:16px}
	.vertical_nav__minify .collapse_menu--icon{-webkit-transform:rotate(180deg)}
	.collapse_menu{
		position: absolute;
		top: 0;
		display: block;
		padding: 14px 4px;
		border: 0;
		background: #213343;
		cursor: pointer;
		right: -14px;
		color: #FFF;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
				}
	.collapse_menu:hover{color:#59c203;
	background:#162532;}
	.collapse_menu .collapse_menu--icon{display:block;float:left;font-size:17px}
	.collapse_menu .collapse_menu--icon:before{content:"\f142"}
	.collapse_menu .collapse_menu--label{display:block;height:40px;line-height:40px}
}
@media (min-width:768px) and (max-width:991px)
{
	.admin-search select, .admin-search input[type="text"]
{
	margin-bottom:15px;
}
	.fix-width {
    margin-left: 13%;
}
	.big-card-reset {
    	width: 700px;
	}
	.login-page {
		padding: 69px 40px;
	}
	.tab-margin
	{
		margin-top:15px;
	}
	.tab-info-box:after
	{
		content: '';
		border-left: 0px solid #1d2339;
		border-right: 0px solid #38455c;
	}
	.mobile-view-breadcrumb
	{
		display:none;
	}
	
	.inner-div .width-10 {
		width: 20%;
	}
	.inner-div .width-90 {
		width: 80%;
	}
	.inner-div .padding-top-15
	{
		padding-top:0;
	}
	.add-fac-width {
		width: 28.5%;
	}
	.add-fac-width:nth-child(4), .add-fac-width:nth-child(5)
	{
		margin-top:10px;
	}
	.upload-profile-file {
		padding: 15px 0;
	}
	.width-tab {
    width: 31.2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
	.vertical_nav {
    	top: 50px;
		width: 35%;
		left: -36%;
	}
	.main-content {
    	padding-left: 20px;
	}
	.profile-info {
		padding: 10px 15px 10px 15px;
	}
	.header-hws .navbar-brand {
    	padding-top: 10px;
	    padding-bottom: 10px;
	}
	.toggle_menu {
    	width: 28px;
	    height: 50px;
		margin-right:10px;
	}
	.breadcrumb-list a {
    	font-size: 10px;
	}
	.breadcrumb-list {
		margin-left: -35px;
	}
	.menu-links ul li a {
		font-size: 14px;
		margin: 0 8px;
	}
	.notif-count {
    	font-size: 8px;
		padding-top: 3px;
	}
	.main-logo {
	    margin: 0 auto 20px;
	}
	.questionnarie .mobile-login .login-content, .mobile-login .login-content {
		position: absolute;
		bottom: 15px;
		left: 0;
		text-align: center;
		padding: 0 15px;
		width: 100%;
	}
	.mobile-login {
		display: block;
		position: relative;
	}
	.mobile-login .login-content .font-36 {
		font-size: 30px;
	}
	.mobile-login .login-content .font-20 {
		font-size: 15px;
	}
	.questionnarie .mobile-login {
		display: block;
		position: relative;
	}
	.questionnarie .mobile-login img, .mobile-login img
	{
		width:100%;
	}
	.questionnarie-section
	{
		position:relative;
	}
	.questionnarie-section {
		width: 100% !important;
		padding: 20px 80px 30px !important;
	}
	.questionnarie .bg-login, .bg-login {
		background:#FFF;
		overflow-y: scroll;
	}
	.main-logo img
	{
		width:100%;
	}
	.login-form-section {
		padding: 60px 140px 30px;
		width: 100%;
		position:relative;
	}
	.login-form-section .main-logo {
		margin: 0 auto 30px;
	}
	
	.forgot-pwd-link
	{
		font-size:10px;
	}
	.sign-in-btn 
	{
	    font-size: 12px;
	}
	.login-form .form-group input 
	{
    	padding: 10px 15px;
    	font-size: 12px;
	}
	.footer-content.font-14 {
		font-size: 11px;
	}
	.infographic {
    	display:none;
	}
	.login-content {
    	width: 400px;
	}
	.login-content .font-36 {
		font-size: 30px;
	}
	.login-content .font-20 {
		font-size: 14px;
	}
	.footer-content {
		padding-top: 100px;
	}
}
@media (min-width:576px) and (max-width:767px)
{
	.mobile-login .login-content .font-36 {
		font-size: 26px !important;
	}
	.mobile-login .login-content .line-height-25 {
		line-height: 20px !important;
	}
	.vertical_nav {
    	width: 55% !important;
	}
	.form-btns .mobile-margin
	{
		margin-top: 0px;
	}
}

@media (min-width:300px) and (max-width:767px)
{
	.padding-30 {
		padding: 30px 0px 0;
	}
	.fix-width {
		margin-left: 0px;
	}
	.Email-sent {
		width: 85%;
		margin-bottom:20px;
	}
	.email-sent-box {
		padding: 45px 20px 50px;
	}
	.job-types
	{
		margin-top: 20px;
	}
	.big-card-reset {
    	width: 85%;
		margin-bottom:20px;
	}
	.login-page {
    border: 1px solid #a9c7dc;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
	}
	.left-pwd-reset {
		padding: 35px 20px;
		word-wrap: break-word;
	}
	.search-content .border-top-bottom .margin-right-45
	{
		padding-right: 0;
		display: block;
	}
	.process-step {
		margin-bottom: 20px;
	}
	.process-section::after {
		content: '';
		width: 0;
		height: 0;
	}
	.mobile-view-breadcrumb
	{
		display:none;
	}
	.fac-details .nav-tabs .nav-link {
		font-size: 10px;
		padding: 10px 10px;
	}
	.top-info-box::after {
		display:none;
	}
	.edit-btn {
    	margin-top: 15px;
	}
	.top-info-panel {
    	padding: 10px 30px 25px;
	}
	.top-info-box, .mobile-margin
	{
		margin-top:15px;
	}
	.inner-div .left-float {
		float: none;
	}
	.inner-div .width-10 {
		width: 100%;
	}
	.inner-div .width-90 {
		width: 100%;
	}
	.upload-profile-file::after {
		top: auto;
		bottom:-15px;
		right: 0px;
		width: 100%;
		height: 1px;
	}
	.add-fac-width {
		width: 100%;
		margin-top: 15px;
	}
	.header-hws {
    	position: relative;
	}
	.header-hws .navbar-brand {
		padding-top: 10px;
		padding-left: 10px;
	}
	.menu {
        top: 46px;
	}
	.vertical_nav {
		width: 100%;
		left: -100%;
		top: 0;
		z-index:99;
	}
	.main-content {
		padding-top: 0;
    	padding-left: 20px;
	}
	.close-toggle
	{
		font-size: 22px;
		background: transparent;
		border: 0;
		color: #FFF;
		position: absolute;
		top: 10px;
		right: 15px;
		cursor:pointer;
		display:block;
	}
	.mobile-left-padd
	{
		padding-left:0;
	}
	.breadcrumb-list {
		margin-left: 0;
		padding-left: 15px;
	}
	.menu-links {
		float: none;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
	}
	.menu-links ul li:first-child a {
		margin: 0 10px 0 0;
	}
	.breadcrumb-list.left-float
	{
		float: none;
	}
	.toggle_menu i {
		display: block;
		font-size: 22px;
	}
	.toggle_menu {
		width: 29px;
		margin-left: 12px;
	}
	
	
	
	.questionnarie-section {
	    width: 100% !important;
		padding: 20px 20px 30px !important;
	}
	.main-logo img, .mobile-login img
	{
		width:100%;
	}
	.login-form-section {
		padding: 30px 15px 30px;
		position: relative;
		width: 300px;
		margin: auto;
	}
	.footer-content.font-14 {
		font-size: 12px;
	}
	.bg-login {
		background: #FFF;
		position: relative;
		height: 100%;
		width: 100%;
	}
	.login-content {
    	width: 100%;
		bottom: 0;
		left: 0;
	}
	.infographic {
	   display:none;
	}
	.footer-content {
    	padding-top: 50px;
	}
	.login-form-section .margin-bottom-30 {
		margin-bottom: 20px;
	}
	.main-logo
	{
		width: 200px;
		margin: 0 auto 20px;
	}
	.login-form-section .login-form{
		padding-top: 20px;
	}
	.login-form-section .margin-bottom-40 {
		margin-bottom: 30px;
	}
	.login-form .form-group input {
	    padding: 10px 15px;
    	font-size: 12px;
	}
	.sign-in-btn {
	    font-size: 12px;
	}
	.forgot-pwd-link {
		font-size: 10px;
	}
	.mobile-login
	{
		display:block;
		position:relative;
	}
	.mobile-login .login-content {
	    position: absolute;
		bottom: 15px;
		left: 0;
		text-align:center;
		padding: 0 15px;
	}
	.mobile-login .login-content .font-36 {
		font-size: 23px;
	}
	.mobile-login .login-content .font-20 {
		font-size: 12px;
	}
	.mobile-login .login-content .line-height-25 {
		line-height: 18px;
	}
	.help-link
	{
		margin-bottom: 15px;
	}
	.questionnarie-section .padding-right-20 {
		padding-right: 0px;
	}
	#lbt-slider {
    	display: block;
	}
	.common-desktop-type {
		display: none;
	}
	.coverage-table
	{
		height:250px;
		overflow-x:auto;
	}
	.contact span {
    display: block;
}
.contact span.margin-left-20 {
    margin-left: 0;
}
.tab-info-box .padding-left-0
{
	padding-left:15px;
}
.tab-info-box 
{
	margin-top:0 !important;
}
.image-box-circle {
    margin-top: 0;
    margin-bottom: 10px;
}
.tab-margin.padding-top-10 {
    padding-top: 0px;
}
.admin-search select, .admin-search input[type="text"]
{
	margin-bottom:15px;
}
.actions-left
{
	margin-left:15px;
}
.btn-action {
    margin-top: 10px;
}
.actions-center
{
	margin-left: 10px;
	margin-right:0 !important;
}
.actions-right
{
	margin-left: 10px;
}
.width-22, .width-78 {
    width: 100%;
}
}